a {
  cursor: pointer;
}

.app-container {
  background-color: #f5f5f7;
  width: 100vw;
  height: 100vh;
  min-height: 320px;
  overflow-x: hidden;
}

.logo {
  width: 150px;
  height: auto;
}

.image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.image-container {
  width: 60px;
  height: 60px;
  align-self: center;
}

.card-content {
  display: flex;
  flex-direction: row;
  width: 98%;
  border: none;
  border-radius: 12px;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
  transition: 0.3s;
}

.card-content:hover {
  box-shadow: 4px 8px 24px rgb(0 0 0 / 16%);
  transform: scale(1.01);
}

.bold {
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.left-header {
  width: 50%;
}

.body-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.list-container {
  width: 50%;
  max-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.rigth-container {
  width: 49%;
  height: 75vh;
  border: none;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
  transition: 0.3s;
  overflow-y: auto;
  overflow-x: hidden;
}

.user-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  align-self: center;
}

.actions-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.switch-input {
  width: 25%;
}

.accesses-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-image {
  width: 60px;
  height: 60px;
  border-radius: 10%;
  align-self: center;
}

@media screen and (max-width: 992px) {
  .left-header {
    flex: 1;
  }

  .list-container {
    width: 100%;
  }

  .switch-input {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .dismiss-list,
  .plus-icon {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border: none;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 10px;
}
